ы# Images
WELT_AUV_CONTROL_IMAGE=hydronautics/welt_auv:control
WELT_AUV_OD_IMAGE=hydronautics/welt_auv:od

# Container names
WELT_AUV_CONTROL_CONTAINER=s_welt_auv_control
WELT_AUV_OD_CONTAINER=s_welt_auv_od

# Runtime/GPU
WELT_AUV_OD_PLATFORM=linux/arm64
DOCKER_NVIDIA_RUNTIME=nvidia
DOCKER_GPUS=all

# ROS 2
ROS_DOMAIN_ID=1

# Volumes
WELT_DATA_DIR=${HOME}/welt
ROSBAG_DIR=${HOME}/rosbags

# Recorder
RECORDER_TIMEOUT_SEC=300
